<form [formGroup]="createUser" (ngSubmit)="saveUser()">
  Fields with * must be filled out
  <div>
    <mat-form-field>
      <input id="username" matInput placeholder="username" formControlName="username" required>
      <mat-error *ngIf="!createUser.controls.username.valid && createUser.controls.username.touched">
          Username required
      </mat-error>
    </mat-form-field>
  </div>
  <div>
      <mat-form-field>
        <input id="password" matInput placeholder="password" type="password" formControlName="password" required>
        <mat-error *ngIf="createUser.controls.password.errors?.required && createUser.controls.password.touched">
            Password can not be empty
        </mat-error>
        <mat-error *ngIf="!createUser.controls.password.errors?.minLength && createUser.controls.password.dirty">
            Password required to be at least 6 characters
        </mat-error>
      </mat-form-field>
    </div>
    <div>
        <mat-form-field >
          <input id="email" matInput placeholder="email" type="text" formControlName="email" required>
          <mat-error *ngIf="createUser.controls.email.errors?.required && createUser.controls.email.touched">
            Email can't be empty
        </mat-error>
          <mat-error *ngIf="createUser.controls.email.invalid && createUser.controls.email.dirty">
            Email must be valid "xx@xx.xx"
        </mat-error>
        </mat-form-field>
      </div>
      <div>
          <mat-form-field >
            <input id="gender" matInput placeholder="gender" formControlName="gender">
          </mat-form-field>
      </div>
      <div>
          <mat-form-field >
            <input id="birthDate" matInput placeholder="Birthdate(mm/dd/yyyy)" formControlName="birthDate" required>
            <mat-error *ngIf="createUser.controls.birthDate.errors?.required && createUser.controls.birthDate.touched">
              Date cant be empty
            </mat-error>
            
            <mat-error *ngIf="createUser.controls.birthDate.invalid && createUser.controls.birthDate.dirty">
              Date must be mm/dd/yyyy
            </mat-error>
          </mat-form-field>
      </div>
      <div>
          <mat-form-field >
            <input id="country" matInput placeholder="country" formControlName="country">
          </mat-form-field>
      </div>

  <div>
    <button id="addPhoneNumber" type="button" mat-raised-button color="secondary" (click)="addPhoneNumber()">Add a phonenumber</button>
  </div>
  <div formArrayName="phoneNumbers">
    <div *ngFor="let phonenumberControl of createUser.controls.phoneNumbers.controls; let i=index">
        <div [formGroupName]="i">
          <mat-form-field>
            <input id="phonenumber" matInput placeholder="Phonenumber" formControlName="number" class="phoneNumber" pattern="^\d{8}$">
          </mat-form-field>
          </div>
    </div>
  </div>

  <button [disabled]="!createUser.valid" id="saveUser" mat-raised-button color="primary">Create User</button>
</form>
