<mat-toolbar id='toolbar'>  
  <span routerLink=''>FindASitter</span>
<button mat-button routerLink='contact'>Contact</button>
<button mat-button routerLink='about'>About</button>
<button mat-button routerLink='login'>Login</button>
<button mat-button routerLink='register'>Register</button>
<button mat-button routerLink='/portal' id="portal">Portal</button>
<button mat-button *ngIf="!loggedIn" routerLink="login">Login</button>
<button mat-button *ngIf="loggedIn" (click)="onLogoutClick()">Logout</button>
</mat-toolbar>
<router-outlet></router-outlet>