<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>Find-A-Sitter
  <button class="example-spacer" mat-flat-button color="primary" style="margin-left: 85%" (click)="openDialog()">Register</button>
</mat-toolbar>
<div style="text-align:center">
  <h2>
    Welcome to
  </h2>
  <h1>{{ title }}!</h1>
</div>

<mat-card style="max-width: 400px; margin-left: auto;margin-right: auto">
<app-login></app-login>
<app-register></app-register>
<router-outlet></router-outlet> <!--Defines where the content (active route/component should be)-->
</mat-card>
<app-display-quiz></app-display-quiz>