<form [formGroup]="quizForm" (ngSubmit)="updateQuiz()">
  <div>
    <mat-form-field >
      <input id="quiztitle" matInput placeholder="Quiz Title" formControlName="title">
    </mat-form-field>
  </div>
  <div  formArrayName="questions">
  <div *ngFor="let question of quizForm.controls.questions.controls">
    <input id="questionTitle" matInput placeholder="Question Title" formControlName="questions.title">
  </div>
</div>
  
  <div>
    <button id="newQuestion" type="button" mat-raised-button color="secondary" (click)="createNewQuestion()">New Question</button>
  </div>
    
  <button id="saveQuiz" mat-raised-button color="primary">Update Quiz</button>
</form>
