.example-card {
  max-width: 400px;
}

mat-card-actions mat-card-subtitle {
    margin-top: 20px;
    margin-left: 20px;
}

::ng-deep .mat-form-field .mat-form-field-infix {
  width:  300px !important;
}

.example-header-image {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1024px-Angular_full_color_logo.svg.png');
  background-size: cover;
}

.login.title{
  text-align: center;
  display: inline;

 }
