<!-- Navigation for the child routes -->
<mat-toolbar color="primary">
  <button mat-button class="home-button" routerLink="/">Angular Quiz</button>
  <button mat-button class="navbar-button" routerLink="about">About</button>
  <button mat-button class="navbar-button" routerLink="contact">Contact</button>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <button mat-button class="navbar-button" *ngIf="!loggedIn" routerLink="login">Login</button>
  <button mat-button class="navbar-button" *ngIf="loggedIn" (click)="onLogoutClick()" routerLink="/">Logout</button>
</mat-toolbar>

<router-outlet></router-outlet>
