<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div style="text-align: center">
      <div>
  
        <mat-card style="max-width:400px;margin-left: auto;margin-right: auto; background-color:mintcream">
          <mat-card-title style="text-align:center">
            Contact
          </mat-card-title>
          <mat-card-subtitle style="text-align:center">
            Here you can get help
          </mat-card-subtitle>
  
          <mat-form-field>
            <input matInput type="text" formControlName="firstname"
              placeholder="Type your issue here">
          </mat-form-field>
  
          <div>
            <button mat-button (click)="openSnackBar()" mat-fab type="submit"
              [disabled]="!registerForm.valid">Send</button>
          </div>

          <p>
            Or contact us directly
          </p>
          <p>
            Phone: 44558855 E-mail: Something@this.org
          </p>
  
          <mat-card-footer style="text-align:center">
            Copyright something...
          </mat-card-footer>
        </mat-card>
      </div>
      <!--<div>
            <p>Gender</p>
            <input type="number" formControlName="salary">
            <div *ngIf="!registerForm.controls.salary.valid && registerForm.controls.salary.touched">
              You must fill out the field
            </div>
          </div>-->
  
  
      <!--Dont do this. Disabling a button is ok but only with user feedback!-->
    </div>
  </form>