<mat-toolbar>
  <span class="home" routerLink="/home">
    Quiz
  </span>

  <div class="topBox">
    <a routerLink="display-quiz">
      <button class="button">
        Display Quiz
      </button>
    </a>
  </div>
  <div class="topBox">
      <a routerLink="create-quiz">
        <button class="button">
          Create Quiz
        </button>
      </a>
    </div>
    <div class="topBox">
      <!--Call directly "logout method"-->
      <a routerLink="../logout">
          <button type="submit" class="button">
            Log out
          </button>
        </a>
      </div>

</mat-toolbar>
<router-outlet></router-outlet>