<mat-toolbar>
  <mat-toolbar-row>
    <span class="home" routerLink="">
      Quiz
    </span>

    <div class="topBox">
      <a routerLink="register">
        <button class="button">
          Register
        </button>
      </a>
    </div>
    <div class="topBox">
      <a routerLink="login">
        <button class="button">
          Login
        </button>
      </a>
    </div>
    <div class="topBox">
      <a routerLink="about">
        <button class="button">
          About
        </button>
      </a>
    </div>
    <div class="topBox">
      <a routerLink="contact">
        <button class="button">
          Contact
        </button>
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<router-outlet></router-outlet>