
<mat-toolbar>  
      <span>FindASitter</span>
    <button mat-button routerLink='contact'>
        Contact
    </button>
    <button mat-button routerLink='about'>
      About
    </button>
    </mat-toolbar>
    <app-display-quiz></app-display-quiz>
<div class="loginRegister">
<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Login
        </mat-panel-title>
      </mat-expansion-panel-header>  
<app-login></app-login>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> 
        Register
      </mat-panel-title>
    </mat-expansion-panel-header>
<app-register></app-register>
</mat-expansion-panel>
</mat-accordion>
</div>

<router-outlet></router-outlet>
