<form [formGroup]="loginForm" (ngSubmit)="onSubmit">
  <div>

  <mat-form-field class="field-width">
  <input matInput placeholder="Username" type="text" formControlName="username">
  <div *ngIf="loginForm.controls.username.errors?.required && loginForm.controls.username.touched">
    You must fill out the username
  
  </div>
  <div *ngIf="loginForm.controls.username.errors?.minlength && loginForm.controls.username.touched">
      Username must be at least 3 characters
    </div>
</mat-form-field>
</div>

<div>
  <mat-form-field class="field-width">
  <input matInput placeholder="Password" type="Password" formControlName="password">
  <div *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.dirty">
    You must fill out the password
  </div>
</mat-form-field>
</div>

<button style="margin-left:42%" mat-stroked-button type="submit" [disabled]="!loginForm.valid">Login</button>
<!-- Don't use disabled unless there is user feedback-->
</form>