<form [formGroup]="registerForm" (ngSubmit)="onSubmit" style="text-align:center">
    <h3>Not a member? Register here</h3> 
    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Register
            </mat-panel-title>
          </mat-expansion-panel-header>
    
    <div>
      
      <mat-form-field>
          <input matInput type="text" formControlName="username" placeholder="Username">
        </mat-form-field>

      <div *ngIf="registerForm.controls.username.errors?.required && registerForm.controls.username.touched">

        You must fill out the username

      </div>
      <div *ngIf="registerForm.controls.username.errors?.minlength && registerForm.controls.username.touched">

          Username must be at least 3 characters

        </div>
    </div>
    
    <div>
      <mat-form-field>
      <input matInput type="password" formControlName="password" placeholder="password">
    </mat-form-field>

      <div *ngIf="!registerForm.controls.password.valid && registerForm.controls.password.dirty">

        You must fill out the password

      </div>
    </div>
    
    <div>
        <p>Salary</p>
        <mat-form-field>
            <input matInput type="text" formControlName="salary" placeholder="Enter salary">
          </mat-form-field>
        <div *ngIf="registerForm.controls.salary.errors?.min && registerForm.controls.salary.touched">

          Minimum salary is 100 DKK!

        </div>
        <div *ngIf="registerForm.controls.salary.errors?.max && registerForm.controls.salary.touched">

          Maximum salary is 1000 DKK!

        </div>
      </div>
      <button mat-flat-button color="primary" type="submit" [disabled]="!registerForm.valid">Register</button>
    </mat-expansion-panel>
    </mat-accordion>

    
    <!-- Don't use disabled unless there is user feedback-->
    </form>