<form [formGroup]="registerForm" (ngSubmit)="onSubmit">
    <p>register</p> 
  <div>
      <p>Username</p>
      <input type="text" formControlName="username">
      <div *ngIf="registerForm.controls.username.errors?.required && registerForm.controls.username.touched">
        You must fill out the username
      </div>
      <div *ngIf="registerForm.controls.username.errors?.minlength && registerForm.controls.username.touched">
          Username must be at least 3 characters
        </div>
    </div>
    
    <div>
      <p>Password</p>
      <input type="Password" formControlName="password">
      <div *ngIf="!registerForm.controls.password.valid && registerForm.controls.password.dirty">
        You must fill out the password
      </div>
    </div>
    
    <div>
        <p>Salary</p>
        <input type="number" formControlName="salary">
        <div *ngIf="registerForm.controls.salary.errors?.min && registerForm.controls.salary.touched">
          Minimum salary is 100 DKK!
        </div>
        <div *ngIf="registerForm.controls.salary.errors?.max && registerForm.controls.salary.touched">
          Maximum salary is 1000 DKK!
        </div>
      </div>

    <button type="submit" [disabled]="!registerForm.valid">Register</button>
    <!-- Don't use disabled unless there is user feedback-->
    </form>