.example-card {
  max-width: 400px;
  max-height: auto;
}

.example-header-image {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1024px-Angular_full_color_logo.svg.png');
  background-size: cover;
}
